//= require 'polaroids'

@charset "utf-8";

body {
  background: #d4d4d4 url("../images/background.jpg") repeat;
  font-family: 'Helvetica Neue';

  #main {
    #title {
      background-color: white;
      margin: 25px 10px 25px 0px;
      padding: 0px 5px;
      width: 300px;
      border: 1px solid black;
      border-radius: 3px;
      text-align: center;

      h1 {
        line-height: 30px;
        font-size: 60px;
        font-weight: lighter;
        color: rgb(31, 117, 170);

        .e {
          font-weight: bold;
          margin-right: -18px;
          color: grey;
        }
      }
    }

    #search {
      height: 75px;
      background: rgba(0,0,0,.5);
      color: white;
      font-size: 60px;
      padding: 10px;
      margin-bottom: 10px;
    }

    .rep {

      .header {
        .rep-photo {
          width: 150px;
          display: inline-block;
          border: 10px solid white;
        }

        h1.name {
          margin-left: 20px;
          display: inline-block;
          font-size: 60px;
          color: white;
        }

        h2.member-for {
          margin-left: 20px;
          display: inline-block;
          font-size: 30px;
          color: white;
        }

        .back {
          font-size: 20px;
          cursor: pointer;
          padding: 6px;
          background: black;
          color: white;
          float: right;
        }
      }

      .section {
        padding: 10px;
        background: white;
        border: 1px solid black;
        border-radius: 3px;
        min-height: 100px;

        h3 {
          font-size: 40px;
        }
      }

      .tally {
        margin: 5px 20px;
        display: inline-block;
        text-align: center;
      }
    }

    width: 90%;
    margin: auto;
  }
}