.polaroids
{
  margin: auto;

  a {
    background: white;
    float: left;
    margin: 0 5px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
    position:relative; 
    width: 150px; 

    &:after {
      color: #333;
      font-size: 18px;
      content: attr(title);
      position: relative;
      top:15px;
    }

    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    transform: rotate(-1deg);

    &:nth-child(2n)
    {
      -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      transform: rotate(3deg);
    }
    &:nth-child(3n) {
      -webkit-transform: rotate(-6deg);
      -moz-transform: rotate(-6deg);
      transform: rotate(-6deg);
    }
    &:nth-child(4n)
    {
      -webkit-transform: rotate(1deg);
      -moz-transform: rotate(1deg);
      transform: rotate(1deg);
    }
    &:nth-child(5n)
    {
      -webkit-transform: rotate(-11deg);
      -moz-transform: rotate(-11deg);
      transform: rotate(-11deg);
    }

    &:hover {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      transform: scale(1.2);
      z-index:10;
      -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
      -moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
      box-shadow: 0 10px 20px rgba(0,0,0,.7);
    }

    &.labor:hover {
      -webkit-box-shadow: 0 10px 20px rgba(173, 54, 35, 1);
      -moz-box-shadow: 0 10px 20px rgba(173, 54, 35,1);
      box-shadow: 0 10px 20px rgba(173, 54, 35,1);
    }

    &.liberal:hover {
      -webkit-box-shadow: 0 10px 20px rgba(23, 31, 67, 1);
      -moz-box-shadow: 0 10px 20px rgba(23, 31, 67,1);
      box-shadow: 0 10px 20px rgba(23, 31, 67,1);
    }
  }  

  img {
    display: block;
    width: inherit; 
  }
}