---
title: eHansardy
---


#main
  #title
    %h1
      %span.e e
      Hansardy

  #search{'data-bind' => 'fadeVisible: hasSearchText, text: searchText'}

  .main-view{'data-bind' => 'fadeVisible: !hasRepresentative()'}
    .rep-photos.polaroids{'data-bind' => 'foreach: representatives'}
      %a.polaroid{'data-bind' => 'attr: {title: name}, css: partyClass, click: $parent.selectRepresentative', :href => '#'}
        %img.rep-photo{'data-bind' => 'attr: {src: image_url, "data-id": person_id}'}

  .rep-view{'data-bind' => 'fadeVisible: hasRepresentative'}
    .rep{'data-bind' => 'with: selectedRepresentative'}
      .header
        %img.rep-photo{'data-bind' => 'attr: {src: image_url}'}
        %h1.name{'data-bind' => 'text: name'} 
        %h2.member-for{'data-bind' => 'text: "Member for " + electorate'}
        %a.back{'data-bind' => 'click: $parent.backToMenu'} Back

      .activity.section
        %h3 So what have they been up to?
        .speeches.tally
          %h2 Speeches
          %h3{'data-bind' => 'text: speechCount'}
        .interjections.tally
          %h2 Interjections
          %h3{'data-bind' => 'text: interjectionCount'}
        .warnings.tally
          %h2 Warnings
          %h3{'data-bind' => 'text: warningCount'}
        .removals.tally
          %h2 Removals
          %h3{'data-bind' => 'text: removalCount'}
